In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [37]:
months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
]

file_names = [f"Sales_Data/Sales_{month}_2019.csv" for month in months]
data=pd.DataFrame()

for file in file_names:
    #data[months[i]] = pd.read_csv(file)
    data = pd.concat([data, pd.read_csv(file)], ignore_index=True) 
data.to_csv('./Sales_Data/alldata.csv')

In [38]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [42]:
data['Order Date'][0][0:2]

'01'